@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated) //logged in
{
    <div class="row">
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item mx-2">
                <button class="nav-link module fw-bold text-light bg-danger active" id="module-1" data-module="29931809-ec70-433b-9ecf-def9c7189e39" type="button">Module 1</button>
            </li>
            <li class="nav-item">
                <button class="nav-link module fw-bold text-light bg-success bg-opacity-25" id="module-2" data-module="394ad26d-99bf-48ff-bcd7-332d5c66f7ce" type="button">Module 2</button>
            </li>
            <li class="nav-item mx-2">
                <button class="nav-link module fw-bold text-light bg-info bg-opacity-25" id="module-3" data-module="7c1f7fc4-ab3a-486f-b7fd-4ea9b99b2571" type="button">Module 3</button>
            </li>
        </ul>
    </div>
    <div class="row">
        <!-- Chats container -->
        <div class="chat-container"></div>

        <!-- Typing container -->
        <div class="typing-container">
            <div class="typing-content">
                <div class="typing-textarea">
                    <textarea id="chat-input" spellcheck="false" placeholder="Enter a prompt here" required></textarea>
                    <span id="send-btn" class="material-symbols-rounded">
                        <i class="bi bi-send-fill"></i>
                    </span>
                </div>
                <div class="typing-controls">
                    <span id="delete-btn" class="material-symbols-rounded">
                        <i class="bi bi-trash-fill"></i>
                    </span>
                    <span id="theme-btn" class="material-symbols-rounded">
                        <i class="bi bi-moon-fill"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
}
else //not logged in
{
    <div class="container">
        <div class="text-center text-light mt-5 pt-5">
            <h1 class="display-4">Welcome to Companier</h1>
            <br />
            <h3>Use this app to manage your company</h3>
            <br />
            <h5><a asp-controller="User" asp-action="Index">Log in</a> to get started</h5>
        </div>
    </div>
}

@section Scripts {
    <script>
        $(document).ready(function () {
            loadModuleContent($(".module.active").data('module'));

            // Handle click events on module buttons
            $(".module").on("click", function () {
                $(".module.active").removeClass("active").addClass("bg-opacity-25");
                $(this).addClass("active").removeClass("bg-opacity-25");
                loadModuleContent($(this).data('module'));
            });

            // Function to load module content via AJAX
            function loadModuleContent(moduleId) {
                $.ajax({
                    url: '/Home/GetModuleContent', // Update with your backend endpoint
                    type: 'GET',
                    data: { moduleId: moduleId },
                    success: function (response) {
                        $.each(response, function (index) {
                            var html = "";
                            if (response[index].role === "User") {
                                html = `<div class="chat outgoing">
                                                <div class="chat-content">
                                                    <div class="chat-details">
                                                        <i class="bi bi-person-circle fs-3"></i>
                                                        ${response[index].context}
                                                    </div>
                                                </div>
                                            </div>`;
                            } else {
                                html = `<div class="chat incoming">
                                            <div class="chat-content">
                                                <div class="chat-details">
                                                    <i class="bi bi-robot fs-3"></i>
                                                    ${response[index].context}
                                                </div>
                                            </div>
                                        </div>`;
                            }
                            $(".chat-container").append(html);
                        });
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            }
        });
    </script>
    <script src="~/js/chat.js"></script>
}