@model ForgotPasswordViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Password Changer";
}

<section class="vh-100 gradient-custom">
    <div class="container py-5 h-50">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <form action="ForgotPassword" method="post">
                            <h2 class="fw-bold mb-2 text-uppercase">Renew Password</h2>

                            <div class="form-outline form-white mb-4">
                                <label class="form-label fw-bold">Email</label>
                                <input asp-for="Email" type="email" id="email" placeholder="sample@example.com" class="form-control form-control-lg" required />
                            </div>

                            <div class="form-outline form-white mb-4 d-none" id="code">
                                <label class="form-label fw-bold">Code</label>
                                <input asp-for="Code" type="text" placeholder="" class="form-control form-control-lg" />
                            </div>

                            <a class="btn btn-outline-light btn-lg px-5" id="sendCode">Send</a>
                            <button class="btn btn-outline-light btn-lg px-5 d-none" id="submit" type="submit">Next</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        $("#sendCode").on("click", function () {
            $.ajax(
                {
                    type: 'POST',
                    dataType: 'JSON',
                    url: '/User/SendCode',
                    data: { email: $("#email").val() },
                    success:
                        function (response) {
                            if (response.success) {
                                $("#sendCode").addClass("d-none");
                                $("#submit").removeClass("d-none");
                                $("#code").removeClass("d-none");
                            }
                        },
                    error:
                        function (response) {
                            alert("Error: " + response);
                        }
                });
        });
    </script>
}
