@model RenewPasswordViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Password Changer";
    // var userId = string.IsNullOrEmpty(ViewBag.RenewPasswordUserId) ? Model.UserId : ViewBag.RenewPasswordUserId;
}

<section class="vh-100 gradient-custom">
    <div class="container py-5 h-50">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <form asp-action="RenewPassword" method="post">
                            <h2 class="fw-bold mb-2 text-uppercase">Renew Password</h2>
                            <input type="hidden" asp-for="UserId" value="@Model.UserId" />
                            <div class="form-outline form-white mb-4">
                                <label class="form-label fw-bold">New Password</label>
                                <input asp-for="Password" type="password" placeholder="********" class="form-control form-control-lg" />
                            </div>

                            <div class="form-outline form-white mb-4">
                                <label class="form-label fw-bold">Repeat Password</label>
                                <input asp-for="ConfirmPassword" type="password" placeholder="********" class="form-control form-control-lg" />
                            </div>

                            <button class="btn btn-outline-light btn-lg px-5" type="submit">Save</button>

                            @if (!string.IsNullOrEmpty(ViewBag.Error))
                            {
                                <div class="alert alert-danger mt-3" role="alert">
                                    @ViewBag.Error
                                </div>
                            }
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>